/* ======================== First Section ====================== */
.top {
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a,.intro {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.headline {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.top-content {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    margin-bottom: 70px;
}


img {
    height: 300px;
    width: 400px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #3883F6;
    color: #F9FAF8;
    border: 1px solid #3883F6;
}

.intro, .headline {
    margin-bottom: 16px;
}

.h {
    max-width: 400px;
}

/* ======================== Second Section ====================== */
.second {
    text-align: center;
}
.houses-info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
    margin-top: 32px;
}

.house {
    max-width: 200px;
}

.houses {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 100px;
}

.house img {
    width: 200px;
    height: 210px;
}

/* ======================== Third Section ====================== */
.third {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    max-width: 800px;
    margin-top: 100px;
}

.author {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 300px;
    margin-bottom: 100px;
}
